<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" type="text/css">
  <title>Календарь событий 2023</title>
</head>
<body>
  <div class="background-image"></div>
  <div class="overlay-image"></div>
  <div class="overlay1-image"></div>
  <div class="overlay2-image"></div>
  <div class="overlay3-image"></div>
  <div class="overlay4-image"></div>
  <div class="overlay5-image"></div>
  <div class="overlay6-image"></div>
  <div class="overlay7-image"></div>
  <div class="overlay8-image"></div>
  <div class="overlay9-image"></div>
  <div class="overlay10-image"></div>
  <div class="overlay11-image"></div>
  <div class="overlay12-image"></div>
  <div class="overlay13-image"></div>
  <div class="overlay14-image"></div>
  <div class="overlay15-image"></div>
  <div class="overlay16-image"></div>
  <div class="overlay17-image"></div>
  <div class="overlay18-image"></div>
  <div class="overlay19-image"></div>
  <div class="overlay20-image"></div>
</body>
</html>
